.button:hover{
  letter-spacing: 0;
  color: white
}

.button:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #6284FF;
  z-index: -1;
  -webkit-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button:hover:after{
  height: 10%;
}

.col-md-13 {
background-color: pink;
}

h1 {
   letter-spacing: 2px;
}